.container{
    background-color: #e4e4e4;
    margin: 0;
}
.body{
    margin: 0;
}

.menu{
    color: gray;
    background-color: #ffffd2;
}

.pie{
    background-color: gray;
    color: white;
    text-align: center;
    
}
.pies{
    padding: 5px;
}
.logincontainer{
    background-color: #8293ff;
    text-align: center;
    display: flex;
    justify-content: center;

}
.bodylogin{
    background-color: #e4e4e4;
}
.container{
    width: 100%;
    height: 100vh;
}
.dataExtra{
    color: gray;

}
.imgfluid{
    height: 10%;
    width: 100%;
}
